::-webkit-scrollbar {
  width: 10px;
  padding: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
  border: 3px solid #fff;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

#settings-page-list::-webkit-scrollbar-thumb {
  border: 3px solid #ececec;
}